<div class="panel-body">
  <p>
  <strong>Content:</strong>
  <%= @post.content %>
  </p>
  <p>
  <strong>Created At:</strong>
  <%= @post.created_at%>
  </p>

  <button id="close" class="btn btn-default">Close Details</button>
</div>
